
DB_SSL=true
DB_CA_PATH=
GOOGLE_MAPS_API_KEY=
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=stagetec
DB_USER=root
DB_PASSWORD=
JWT_SECRET=
PORT=3000

DOCUMENSO_API_URL=https://app.documenso.com/api/v2
DOCUMENSO_API_KEY=
DOCUMENSO_WEBHOOK_SECRET=
APP_PUBLIC_URL=
